  @{
        var productList = ViewBag.ProductList as IEnumerable<Product>;
        var categoryList = ViewBag.CategoryView as IEnumerable<CategoryView>;
        var cond = ViewBag.Cond;
        var minmax = ViewBag.MinMax;
  }
  
  <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                            <h2 class="breadcrumb-title">Shop</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-12">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-md-right">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active">Shop</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- breadcrumb-area end -->

    <!-- Shop Category pages -->
    <div class="shop-category-area pb-100px pt-70px">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                    <!-- Shop Top Area Start -->
                    <div class="shop-top-bar d-flex">
                        <!-- Left Side start -->
                        <p>There Are @productList.Count() Products.</p>
                        <!-- Left Side End -->
                        <!-- Right Side Start -->
                        <div class="select-shoing-wrap d-flex align-items-center">
                            <div class="shot-product">
                                <p>Sort By:</p>
                            </div>
                            <div class="shop-select">
                                <form action="/Home/Shopping" method="GET">
                                    <select name="condition" id="sort" class="shop-sort">
                                        @if(cond.Equals("Relevance") || cond == null){
                                            <option selected data-display="Relevance">Relevance</option>
                                            <option value="1"> Name, A to Z</option>
                                            <option value="2"> Name, Z to A</option>
                                            <option value="3"> Price, low to high</option>
                                            <option value="4"> Price, high to low</option>
                                        }
                                         @if(cond.Equals("1") || cond == null){
                                            <option data-display="Relevance">Relevance</option>
                                            <option selected value="1"> Name, A to Z</option>
                                            <option value="2"> Name, Z to A</option>
                                            <option value="3"> Price, low to high</option>
                                            <option value="4"> Price, high to low</option>
                                        }
                                         @if(cond.Equals("2") || cond == null){
                                            <option data-display="Relevance">Relevance</option>
                                            <option value="1"> Name, A to Z</option>
                                            <option selected value="2"> Name, Z to A</option>
                                            <option value="3"> Price, low to high</option>
                                            <option value="4"> Price, high to low</option>
                                        }
                                         @if(cond.Equals("3") || cond == null){
                                            <option data-display="Relevance">Relevance</option>
                                            <option value="1"> Name, A to Z</option>
                                            <option value="2"> Name, Z to A</option>
                                            <option selected value="3"> Price, low to high</option>
                                            <option value="4"> Price, high to low</option>
                                        }
                                         @if(cond.Equals("4") || cond == null){
                                            <option data-display="Relevance">Relevance</option>
                                            <option value="1"> Name, A to Z</option>
                                            <option value="2"> Name, Z to A</option>
                                            <option value="3"> Price, low to high</option>
                                            <option selected value="4"> Price, high to low</option>
                                        }
                                    </select>
                                </form>

                            </div>
                        </div>
                        <!-- Right Side End -->
                    </div>
                    <!-- Shop Top Area End -->

                    <!-- Shop Bottom Area Start -->
                    <div class="shop-bottom-area">

                        <div class="row">
                            @foreach (var product in productList)
                            {
                                <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-delay="200">
                                <!-- Single Prodect -->
                                <div class="product mb-5">
                                    <div class="thumb">
                                        <a href="shop-left-sidebar.html" class="image">
                                            <img src="@product.ProductImage" alt="Product" />
                                            <img class="hover-image" src="@product.ProductImage" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="new">New</span>
                                        </span>
                                        <div class="actions">
                                            <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                                            <a href="compare.html" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class="add-to-cart">Add
                                            To Cart
                                            <input id="pCartImage" type="hidden" value="@product.ProductImage" />
                                            <input id="pCartId" type="hidden" value="@product.ProductId" />
                                            <input id="pCartName" type="hidden" value="@product.ProductName" />
                                            <input id="pCartPrice" type="hidden" value="@product.ProductPrice" />
                                        </button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="shop-left-sidebar.html">@product.ProductName</a></h5>
                                        <span class="price">
                                            <span class="new">@product.ProductPrice VND</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            }
                            <input type="hidden" id="detail-add">
                        </div>
                        <!--  Pagination Area Start -->
                        <div class="pro-pagination-style text-center mb-md-30px mb-lm-30px mt-6" data-aos="fade-up">
                            <ul>
                                <li>
                                    <a class="prev" href="#"><i class="ion-ios-arrow-left"></i></a>
                                </li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li>
                                    <a class="next" href="#"><i class="ion-ios-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!--  Pagination Area End -->
                    </div>
                    <!-- Shop Bottom Area End -->
                </div>
                <!-- Sidebar Area Start -->
                <div class="col-lg-3 order-lg-first col-md-12 order-md-last mb-md-60px mb-lm-60px">
                    <div class="shop-sidebar-wrap">
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget">
                            <div class="main-heading">
                                <h3 class="sidebar-title">Category</h3>
                            </div>
                            <div class="sidebar-widget-category">
                                <ul>
                                    @foreach (var category in categoryList)
                                    {
                                        <li><a href="/Home/FilterCategory?categoryId=@category.Id" class="">@category.Name <span>(@category.Numbers)</span> </a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar single item -->
                        @* <div class="sidebar-widget-group">
                            <h3 class="sidebar-title">Filter By</h3>
                            <div class="sidebar-widget">
                                <h4 class="pro-sidebar-title">Price</h4>
                                <div class="price-filter">
                                    <div class="price-slider-amount">
                                        <input type="text" id="amount" class="p-0 h-auto lh-1" name="price" placeholder="Add Your Price" />
                                    </div>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                             <!-- Sidebar single item -->
                            <div class="sidebar-widget">
                                <h4 class="pro-sidebar-title mt-5">Size</h4>
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">Large <span>(4)</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">Medium
                                                    <span>(4)</span></a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">Small <span>(4)</span>
                                                </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">Extra
                                                    Large<span>(4)</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar single item -->
                            <div class="sidebar-widget no-cba">
                                <h4 class="pro-sidebar-title">Colour</h4>
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">Grey<span>(2)</span> </a>
                                                <span class="checkmark grey"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">White<span>(4)</span></a>
                                                <span class="checkmark white"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">Black<span>(4)</span>
                                                </a>
                                                <span class="checkmark black"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">Camel<span>(4)</span>
                                                </a>
                                                <span class="checkmark camel"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar single item -->
                            <div class="sidebar-widget">
                                <h4 class="pro-sidebar-title">Brand</h4>
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">Studio Design<span>(10)</span>
                                                </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">Graphic
                                                    Corner<span>(7)</span></a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> 
                        </div> *@
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget tag">
                            <div class="main-heading">
                                <h3 class="sidebar-title mt-3">Tags</h3>
                            </div>
                            <div class="sidebar-widget-tag">
                                <ul>
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Chair</a></li>
                                    <li><a href="#">Decoration</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Sofa</a></li>
                                    <li><a href="#">Table</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>